* {
    box-sizing: border-box;
    outline: none;
}

html,
body,
#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    background-color: #eee;
    background-attachment: fixed;
    background-image: url("../img/fundo.png");
    background-position: center;
    background-repeat: repeat;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: orangered;
    text-decoration: underline;
}

#wrap {
    max-width: 1024px;
    min-width: 280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    padding: .25rem 0 .25rem 0;
}

header img {
    display: block;
    width: 4rem;
    height: auto;
    margin: 0 1rem 0 .5rem;
}

header h1 {
    margin: 0 0 -0.6rem 0;
}

header div {
    display: flex;
    text-align: center;
    flex-direction: column;
}

header small {
    color: #888;
}

nav {
    /*background-color: rgba(0, 0, 0, .8);*/
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: #eee;
    padding: .5rem 1rem;
}

nav a:hover {
    color: #ff0;
    text-decoration: none;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main article {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, .7);
    padding: 0 1rem;
}

main aside {
    background-color: rgba(220, 220, 220, .7);
    padding: .5rem 1rem;
    border-top: 1rem solid #aaa;
}

footer {
    /*background-color: rgba(0, 0, 0, .8);*/
    background-color: rgb(34, 64, 88);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #eee;
}

footer>a {
    font-size: .8rem;
    color: #eee;
    padding: .5rem;
}

footer>a:hover {
    color: yellow;
    text-decoration: none;
}

footer>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5rem;
}

footer small {
    font-size: .75rem;
    margin-top: -0.25rem;
}

@media screen and (min-width: 768px) {

    main {
        flex-direction: row;
    }

    main aside {
        border-top: none;
        border-left: 1rem solid #aaa;
        min-width: 250px;
        max-width: 250px;
    }

}